.coin-card {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

.coin-card-item {
    width: 20%;
    
}