.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: var(--secondary-color);
    font-family: 'inter', sans-serif;
    border-top: 1px solid var(--secondary-color);
    padding: 1rem;
}

.footer-logo {
    width: 25%;
}