.content-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    flex: 1;
    margin: 0 auto;
}

header {
    min-height: 300px;
}

footer {
    min-height: 100px;
    
}

@media screen and (min-width: 1250px) {
    .content-cont {
        max-width: 1250px;
    }
    
    header {
        max-width: 1500px;
    }
}