:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
}

  
  [data-theme="dark"] {
    --primary-color: #151D32;
    --secondary-color: #FAFBFB;
  }
  
  [data-theme="light"] {

    --primary-color: #FAFBFB;
    --secondary-color: #151D32;
  }


html, body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

.content-cont {
  margin-block: 1rem;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 900;
}

button {
  cursor: pointer;
  width: 200px;
  height: 35px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}