.header-cont {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'inter', sans-serif;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.nav-list {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.header-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.link {
    color: var(--secondary-color);
    text-decoration: none;
}

.link:hover {
    font-weight: bold;
}

.header-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 10px;
}

.header-options>button {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .nav-list {
        width: 100%;
        margin: 1.5rem;
    }
    
    .header-cont {
        flex-direction: column;
        align-items: center;
        justify-content: space-around ;
        height: 250px;
    }
    
    .header-options {
        margin: auto 1rem;
    }

    
    button {
        height: fit-content;
        width: fit-content;
        padding: 0.5rem;
        text-wrap: nowrap;
    }
    
    .screen-small-button {
        min-width: 250px;
    }
}