.header-cont {
    display: flex;
    justify-content: space-between;
    height: 15%;
    background-color: #151D32;
    color: #FAFBFB;
    font-family: 'inter', sans-serif;
    border-bottom: 1px solid #FAFBFB;
    margin-bottom: 2rem;
}

.nav-list {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.header-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.link {
    color: #FAFBFB;
    text-decoration: none;
}

.link:hover {
    font-weight: bold;
}