.alert-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 2rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 100;
    border: 3px solid var(--secondary-color);
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .alert-cont {
        font-size: 1.2rem;
        gap: 2rem;
        padding: 3rem;
        top: 50%;
    }
    
    .alert-cont>button {
        width: 100%;
        font-size: 1.5rem;
    }
}